// cores
$bg-color-header-footer: #1A9EFF;
$bg-color-formCad: #FEFFFE;
$primary-color-font: #4A5055;
$secondary-color: #D9D9D9;
$secondary-color-font: #FEFFFE;
$border-color-available: #66B0E8;
$primary-color-available: #50E3C1;
$border-color-required: #E79A9B;
$shadow-color-form: #BBBBBB;

$pd-10: 10px;