@import 'styles/variaveis';

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 84vh;
    max-width: 100vw;
    background: $secondary-color;
    overflow-y: scroll;
}
